/* Espacio del logo arriba de la navbar */
.logo-container {
    background-color: #fce9f3;
    padding-left: 40px;
}

.logo-text {
    font-size: 2rem;
    font-weight: 600;
    color: #5a3a4f;
    margin-left: 40px;
}
.header-top {
    background-image: url("fondo perlas.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    padding: 10px 0;
}

/* Navbar estilo rosa pastel (D1) */
.navbar {
    background-color: #f8d7e8 !important;
}

.navbar-brand,
.nav-link {
    color: #5a3a4f !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #e2479a !important;
     transform: scale(1.2);                         /* agranda un 20% */
     
}
.carousel-item img {
    max-height: 350px;   /* o lo que necesites */
    width: 70%;          /* achica el ancho */
    object-fit: contain; /* muestra toda la imagen SIN recortes */
    margin: 50px auto 20 auto;  /* ⬅️ agrega espacio arriba */
    display: block;
    background-color: #0000; /* opcional, por si queda espacio */
}

/* Fondo borroso detrás de cada imagen del carrusel */
.carousel-item {
    position: relative;
    overflow: visible;
}

.carousel-item::before {
    content: "";
    position: fixed;
    top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
    inset: 0;
    background-image: var(--bg-image); /* la definimos con JS */
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    opacity: 0.85;
    z-index: -1;
}

.carousel-item * {
    position: relative;
    z-index: 5; /* pone la imagen adelante del fondo */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(46%) sepia(19%) saturate(1500%) hue-rotate(290deg) brightness(90%) contrast(85%);
}

/* Más visibles (sin transparencia) */
.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
    z-index: 5 !important; /* Más alto que la imagen */
}

.bienvenida-titulo {
    color: #e766bc;              /* color del texto */
    font-size: 60px;             /* tamaño */
    font-family: "Mistral", cursive; /* fuente */
    font-weight: 900;            /* grosor */
}

.parrafo-unico {
    font-size: 100px;                                /* tamaño grande */
    text-align: center;                               /* centrado horizontal */
    color: rgb(238, 174, 224);                                    /* color blanco */
    font-family: 'Lucida Handwriting', cursive;      /* fuente cursiva */
    margin-top: -110px;                               /* lo sube hacia arriba */
}