/* Espacio del logo arriba de la navbar */
.logo-container {
    background-color: #fce9f3;
    padding-left: 40px;
}

.logo-text {
    font-size: 2rem;
    font-weight: 600;
    color: #5a3a4f;
    margin-left: 40px;
}
.header-top {
    background-image: url("fondo perlas.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    padding: 10px 0;
}

/* Navbar estilo rosa pastel (D1) */
.navbar {
    background-color: #f8d7e8 !important;
}

.navbar-brand,
.nav-link {
    color: #5a3a4f !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #b35386 !important;
}